.content {
    display: grid;
    grid-template-columns: 15% auto 15%;
    width: 100%;
}

.section {
    padding: 0 1%;
    list-style: none;
}

.content-title {
    font-weight: bold;
    padding: 0 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-bottom: 2px solid rgb(123, 78, 0);
}